{% extends "base.html" %}
{% block title %}Buyer page{% endblock %}
{% block content %}

<style>
    td {text-align: center; vertical-align:middle;}
    th {text-align: center; vertical-align:middle;}
</style>


<h3>Choose your bet</h3>
<br>

<form action="#" method="POST">
  <select name="buyer" class="form-select" aria-label="Default select example" value="{{buyer if buyer}}">
    <option selected>Who are you?</option>
    {% for user in values[1] %}
      <option>{{user}}</option>
    {% endfor %}
  </select> <br><br>

<form action="#" method="POST">
  <select name="id" class="form-select" aria-label="Default select example" value="{{id if id}}">
    <option selected>Enter bet ID</option>
    {% for item in values[0] %}
      {% if item.maxAmountBuyable != 0 %}
        <option>{{item._id}}</option>
      {% endif %}
    {% endfor %}
  </select>

  <br><br><input type="amount" name="amount" class="form-control" placeholder="Enter the amount you want to buy (in gwei)" value="{{amount if amount}}" />
  
  <br><br><button type="submit" class="btn btn-outline-primary">Submit</button>
  
  <br><br><br>


<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Bet ID</th>
        <th scope="col">Match</th>
        <th scope="col">Scenario</th>
        <th scope="col">Odds</th>
        <th scope="col">Max amount (gwei)</th>
        <th scope="col">Max amount buyable (gwei)</th>
        <th scope="col">Seller</th>
      </tr>
    </thead>
    <tbody>
        {% for item in values[0] %}
          {% if item.maxAmountBuyable != 0 %}
            <tr>
                <td>{{item._id}}</td>
                <td>{{item.match}}</td>
                <td>{{item.scenario}}</td>
                <td>{{item.odds}}</td>
                <td>{{item.maxAmount}}</td>
                <td>{{item.maxAmountBuyable}}</td>
                <td>{{item.seller}}</td>
            </tr>
          {% endif %}
        {% endfor %}
    </tbody>
  </table>


{% endblock %}