{% extends "base.html" %}
{% block title %}Contacts{% endblock %}
{% block content %}
<h1>Contacts</h1>

<br><br>

<h5>
    Alessandro Ciffo
    <small class="text-muted">3056260</small>
</h5>
<h5>
    Mauricio Bargel
    <small class="text-muted">3154690</small>
</h5>
<h5>
    Susan Hu
    <small class="text-muted">3036397</small>
</h5>
<h5>
    Alessia Lin
    <small class="text-muted">3053699</small>
</h5>
<h5>
    Samuele Rabino
    <small class="text-muted">3049186</small>
</h5>
<h5>
    Benedetta Romani
    <small class="text-muted">3056026</small>
</h5>
<h5>
    Matteo Salvietti
    <small class="text-muted">3060521</small>
</h5>
<h5>
    Leonardo Yang
    <small class="text-muted">3060994</small>
</h5>

<br><br>

<h6>
    Finance with Big Data
    <small class="text-muted">20598</small>
    <br> December 2021
</h6>
{% endblock %}